{% extends "master.html" %}
<style>

</style>
       
{% block body %} 
    <h3 class="text-center">Student Dropout Project</h3>
    <form action="/dropout_go" method="get">
       
        <div class="col-lg-offset-4 col-lg-4">
            <input type="text" class="form-control form-control-lg" name="gender" placeholder="Enter your Gender (male/female)">
        </div>
        <p></p>
        <div class="col-lg-offset-4 col-lg-4">
            <select id="group" type="text" class="form-control form-control-lg" name="group"> 
                <option value=""disabled selected hidden>Enter your Ethnic Group</option>
                <option value="group A">group A</option>
                <option value="group B">group B</option>
                <option value="group C">group C</option>
                <option value="group D">group D</option>
                <option value="group E">group E</option>
            </select>
        </div>
        <p></p>
        <div class="col-lg-offset-4 col-lg-4">
            <select id="level" type="text" class="form-control form-control-lg" name="level"> 
                <option value=""disabled selected hidden>Enter your Education level</option>
                <option value="Master's Degree">Master's Degree</option>
                <option value="Associate's Degree">Associate's Degree</option>
                <option value="Bachelor's Degree">Bachelor's Degree</option>
                <option value="Some College">Some College</option>
                <option value="Some High School">Some High School</option>
                <option value="High School">High School</option>
            </select>
        </div>
        <p></p>
        <div class="col-lg-offset-4 col-lg-4">
            <input type="text" class="form-control form-control-lg" name="attendance" placeholder="Enter your Attendance">
        </div>
        <p></p>
        <div class="col-lg-offset-4 col-lg-4">
            <input type="text" class="form-control form-control-lg" name="duration" placeholder="Enter your Duration in hours">
        </div>
        <p></p>
        <div class="col-lg-offset-4 col-lg-4">
            <input type="text" class="form-control form-control-lg" name="maths_score" placeholder="Enter your Maths exam score">
        </div>
        <p></p>
        <div class="col-lg-offset-4 col-lg-4">
            <input type="text" class="form-control form-control-lg" name="reading_score" placeholder="Enter your Reading exam score">
        </div>
        <p></p>
        <div class="col-lg-offset-4 col-lg-4">
            <input type="text" class="form-control form-control-lg" name="writing_score" placeholder="Enter your Writing exam score">
        </div>
        <p></p> 
        <br>
        <div class="col-lg-offset-4 text-center col-lg-3">
            <button type="submit" id="mySubmit" class="btn btn-lg btn-success" onclick="myFunction()">Check Student's dropout probablity </button>
        </div>
    </form>
    {% block message %}
    {% endblock %}
    

{% endblock %} 


{% block bodyvis%}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
